{% extends 'includes/base.html' %}
{% load static %}
{% block body%}

    <h1>List of posts</h1>
<a role="button" class="btn btn-success" href = '{% url 'add-post'%}'>Add new post</a>
<br>

<!--    {% for post in posts %}-->
<!--    <p>{{post.id}} <br>-->
<!--        <a href="{% url 'post-details' pk=post.id %}">{{post.title}}</a> <br>-->
<!--        {% if post.image %}<img width="'200" height="200" src = "{{post.image.url}}"</p>{% endif %}-->
<!--    {% endfor %}-->
<table class="table">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Title</th>
      <th scope="col">Image</th>
        <th scope ='col'>Action</th>
    </tr>
  </thead>
<tbody>
{% for post in posts %}
<tr>
    <td><a href="{% url 'post-details' pk=post.id %}">{{post.title}}></a></td>
    <td>{% if post.image %}<img src="{{ post.image.url}}" width="150" height="150">{% endif %}</td>
    <td><a class="btn btn-success btn-sm" role="button" href="{% url 'update-post' post.id %}">Update post</a>
<a class="btn btn-secondary btn-sm" role="button" href="{% url 'delete-post' post.id %}">Delete post</a></td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock body %}